/* Debug */
[class*="col-"] {
    height: 200px;
    line-height: 200px;
    text-align: center;
    padding: 2px;
    border: 1px solid #000000;
    background-color: #ffc0cb;
}
.nested {
    height: 196px;
    border: 1px solid #ffffff;
    background-color: #f07f80;
}
/* --Debug */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.container::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
}

.col-1 {
    width: calc(100% / 12);
}
.col-2 {
    width: calc(100% / 6);
}
.col-3 {
    width: calc(100% / 4);
}
.col-4 {
    width: calc(100% / 3);
}
.col-5 {
    width: calc((100% / 12) * 5);
}
.col-6 {
    width: calc(100% / 2);
}
.col-7 {
    width: calc((100% / 12) * 7);
}
.col-8 {
    width: calc((100% / 3) * 2);
}
.col-9 {
    width: calc((100% / 12) * 9);
}
.col-10 {
    width: calc((100% / 6) * 5);
}
.col-11 {
    width: calc((100% / 12) * 11);
}
.col-12 {
    width: 100%;
}